<a href="https://colab.research.google.com/github/Saranchana/DW/blob/master/Hello_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Hello PyThon
## This is my first Python Prgram

In [10]:
print("Hello world")

Hello world

#DeclareVariable
##Howto decalare variable in Python

In [17]:
score = 100
name = "Saranchana"
print("name is "+ name + " score is "+ str(score))

name is Saranchana score is 100

In [14]:
a= 2
b= 3
c= a*b
print(c)

6

#List
#Howto use list

In [19]:
mylist = []
mylist.append("Sarachana")
mylist.append(200)
mylist

['Sarachana', 200]

#IF-ElsePython
##Howto use if-else in python

In [20]:
if mylist[1] > 100 :
  print("Pass")

Pass

In [0]:
If mylist[1] > 100 :
  name = mylist[0]
  score = mylist[1]
  print(name)

In [37]:
score = 5
if score > 50 :
  print("A")
elif score >20 :
  print("B")
else :
  print("C")
if score == 0 :
  print("F")

C

#For Loop

In [30]:
summation = []
for i in range(0,10):
  summation.append(i)

for i in summation :
  print(str(i))

0
1
2
3
4
5
6
7
8
9

In [31]:
summation = []
a = 0
for i in range(0,10):
  a = a + 5
  summation.append(a)

for i in summation :
  print(str(i))

5
10
15
20
25
30
35
40
45
50

#For each Loop

In [38]:
for i in summation :
  print(str(i))

5
10
15
20
25
30
35
40
45
50